# Python Crash Course

Please note, this is not meant to be a comprehensive overview of Python or programming in general

* This notebook will just go through the basic topics in order:

* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets


* For mac users, hit ALT + ENTER to execute a block of code


# NUMBERS

In this lecture, we will learn about numbers in Python and how to use them.

We'll learn about the following topics:

    1.) Types of Numbers in Python
    2.) Basic Arithmetic
    3.) Differences between classic division and floor division
    4.) Object Assignment in Python

### Basic Arithmetic

In [4]:
# Addition 
10 + 4

14

In [5]:
# Subtraction 
6 - 3

3

In [6]:
# Multiplication 
3 * 4

12

In [7]:
# Division 

36 / 2

18.0

In [8]:
# Floor Division 
7//4

1

**Whoa! What just happened? Last time I checked, 7 divided by 4 equals 1.75 not 1!**

The reason we get this result is because we are using "*floor*" division. The // operator (two forward slashes) truncates the decimal without rounding, and returns an integer result.

In [9]:
# Modulo 
5 % 2

1

4 goes into 7 once, with a remainder of 3. The % operator returns the remainder after division.

In [10]:
7 % 4

3

In [2]:
4 % 2

0

### Arithmetic continued

In [12]:
# Powers 
2 ** 4

16

In [13]:
# Can also do roots this way 
4 ** 0.5

2.0

In [14]:
# Can use parentheses to specify orders
(2+10) * (10+3)

156

### Variable Assignments

Now that we've seen how to use numbers in Python as a calculator let's see how we can assign names and create variables.

We use a single equals sign to assign labels to variables. Let's see a few examples of how we can do this.

In [15]:
# Let's create an object called "a" and assign it the number 5
a = 5

Now if I call *a* in my Python script, Python will treat it as the number 5.

In [16]:
# Reassignment
a = 10

In [17]:
# Check
a

10

Yes! Python allows you to write over assigned variable names. We can also use the variables themselves when doing the reassignment. Here is an example of what I mean:

In [18]:
# Check
a

10

In [19]:
# Use A to redefine A
a = a + a

In [20]:
# Check 
a

20

The names you use when creating these labels need to follow a few rules:

    1. Names can not start with a number.
    2. There can be no spaces in the name, use _ instead.
    3. Can't use any of these symbols :'",<>/?|\()!@#$%^&*~-+
    4. It's considered best practice (PEP8) that names are lowercase.
    5. Avoid using the characters 'l' (lowercase letter el), 'O' (uppercase letter oh), 
       or 'I' (uppercase letter eye) as single character variable names.
    6. Avoid using words that have special meaning in Python like "list" and "str"


Using variable names can be a very useful way to keep track of different variables in Python. For example:

In [21]:
# Use object names to keep better track of what's going on in your code!
my_income = 100

tax_rate = 0.1

my_taxes = my_income*tax_rate

In [22]:
# Show my taxes!
my_taxes

10.0

# STRINGS

Strings are used in Python to record text information, such as names. Strings in Python are actually a *sequence*, which basically means Python keeps track of every element in the string as a sequence. For example, Python understands the string "hello' to be a sequence of letters in a specific order. This means we will be able to use indexing to grab particular letters (like the first letter, or the last letter).

This idea of a sequence is an important one in Python and we will touch upon it later on in the future.

In this lecture we'll learn about the following:

    1.) Creating Strings
    2.) Printing Strings
    3.) String Indexing and Slicing
    4.) String Properties
    5.) String Methods
    6.) Print Formatting

### Creating a String
To create a string in Python you need to use either single quotes or double quotes. For example:

In [23]:
'single quotes'

'single quotes'

In [24]:
"double quotes"

'double quotes'

In [25]:
" wrap lot's of other quotes"

" wrap lot's of other quotes"

### String Indexing
We know strings are a sequence, which means Python can use indexes to call parts of the sequence. Let's learn how this works.

In Python, we use brackets <code>[]</code> after an object to call its index. We should also note that indexing starts at 0 for Python. Let's create a new object called <code>s</code> and then walk through a few examples of indexing.

In [32]:
# Assign s as a string
s = 'Hello World'

In [33]:
#Check
s

'Hello World'

In [35]:
# Print the object
print(s)

Hello World

Let's start indexing!

In [38]:
#In Python each letter represents a number 
# starting from 0 
# 0 1 2 3 4 5 6 7 8 
# P i n e a p p l e 
x = 'Pineapple'
x[3]

'e'

In [41]:
x[0]

'P'

In [42]:
x[1]

'i'

In [40]:
# We forget the last number
x[1:7]

'ineapp'

We can use a <code>:</code> to perform *slicing* which grabs everything up to a designated point. For example:

In [43]:
# Grab everything past the first term all the way to the length of s which is len(s)
s[1:]

'ello World'

In [44]:
# Note that there is no change to the original s
s

'Hello World'

In [45]:
# Grab everything UP TO the 3rd index
s[:3]

'Hel'

Note the above slicing. Here we're telling Python to grab everything from 0 up to 3. It doesn't include the 3rd index. You'll notice this a lot in Python, where statements and are usually in the context of "up to, but not including".

In [46]:
#Everything
s[:]

'Hello World'

We can also use negative indexing to go backwards.

In [47]:
# Last letter (one index behind 0 so it loops back around)
s[-1]

'd'

In [48]:
# Grab everything but the last letter
s[:-1]

'Hello Worl'

We can also use index and slice notation to grab elements of a sequence by a specified step size (the default is 1). For instance we can use two colons in a row and then a number specifying the frequency to grab elements. For example:

In [50]:
# Grab everything, but go in steps size of 1
s[::1]
x[::1]

'Pineapple'

In [51]:
# Grab everything, but go in step sizes of 2
x[::2]

'Pnape'

In [52]:
# We can use this to print a string backwards
x[::-1]

'elppaeniP'

### String Properties
It's important to note that strings have an important property known as *immutability*. This means that once a string is created, the elements within it can not be changed or replaced. For example:

In [55]:
s

'Hello World'

In [56]:
x

'Pineapple'

In [57]:
# Concatenate strings!
x + ' is on the menu?'

'Pineapple is on the menu?'

In [58]:
# We can reassign s completely though!
x = x + ' concatenate me!'

print(x)

Pineapple concatenate me!

### Basic Built-in String methods

Objects in Python usually have built-in methods. These methods are functions inside the object (we will learn about these in much more depth later) that can perform actions or commands on the object itself.

We call methods with a period and then the method name. Methods are in the form:

object.method(parameters)

Where parameters are extra arguments we can pass into the method. Don't worry if the details don't make 100% sense right now. Later on we will be creating our own objects and functions!

Here are some examples of built-in methods in strings:

In [59]:
#Upper Case 
x.upper()

'PINEAPPLE CONCATENATE ME!'

In [60]:
# Split a string by blank space (this is the default)
x.split()

['Pineapple', 'concatenate', 'me!']

In [61]:
# Split by a specific element (doesn't include the element that was split on)
s.split('W')

['Hello ', 'orld']

### Printing a String

Using Jupyter notebook with just a string in a cell will automatically output strings, but the correct way to display strings in your output is by using a print function.

In [26]:
# We can simply declare a string
'Hello World'

'Hello World'

In [27]:
x = 'Hello World'
x

'Hello World'

In [28]:
print(x)

Hello World

In [29]:
num = 12
name = 'Sam'

In [30]:
print('My number is: {one}, and my name is: {two}'.format(one=num,two=name))

My number is: 12, and my name is: Sam

In [31]:
print('My number is: {}, and my name is: {}'.format(num,name))

My number is: 12, and my name is: Sam

### Print Formatting

We can use the .format() method to add formatted objects to printed string statements. 

The easiest way to show this is through an example:

In [53]:
'Ballon Dor in 2012 was {} '.format('Messi')

'Ballon Dor in 2012 was Messi '

In [54]:
'What you eating for lunch: {}'.format('Rice')

'What you eating for lunch: Rice'

# LISTS

Earlier when discussing strings we introduced the concept of a *sequence* in Python. Lists can be thought of the most general version of a *sequence* in Python. Unlike strings, they are mutable, meaning the elements inside a list can be changed!

In this section we will learn about:
    
    1.) Creating lists
    2.) Indexing and Slicing Lists
    3.) Basic List Methods
    4.) Nesting Lists

Lists are constructed with brackets [] and commas separating every element in the list.

Let's go ahead and see how we can construct lists!

In [62]:
# Assign a list to an variable named my_list
my_list = [1,2,3]

We just created a list of integers, but lists can actually hold different object types. For example:

In [63]:
my_list2 = ['A string',23,100.232,'o']

Just like strings, the len() function will tell you how many items are in the sequence of the list.

In [64]:
o_list = [2,4,8,10]
len(o_list)

4

### Indexing and Slicing
Indexing and slicing work just like in strings. Let's make a new list to remind ourselves of how this works:

In [65]:
o_list = ['Messi','Ronaldo','Ozil','London',4,5]

In [66]:
# Grab element at index 0
o_list[3]

'London'

In [67]:
# Grab index 1 and everything past it
o_list[1:]

['Ronaldo', 'Ozil', 'London', 4, 5]

We can also use + to concatenate lists, just like we did for strings.

In [68]:
o_list + ['Arsenal']

['Messi', 'Ronaldo', 'Ozil', 'London', 4, 5, 'Arsenal']

Note: This doesn't actually change the original list!

In [70]:
o_list

['Messi', 'Ronaldo', 'Ozil', 'London', 4, 5]

You would have to reassign the list to make the change permanent.

In [71]:
# Reassign - to make permanent chage
o_list = o_list + ['Chelsea']

In [72]:
o_list

['Messi', 'Ronaldo', 'Ozil', 'London', 4, 5, 'Chelsea']

We can also use the * for a duplication method similar to strings:

In [73]:
# Make the list double
o_list * 2

['Messi',
 'Ronaldo',
 'Ozil',
 'London',
 4,
 5,
 'Chelsea',
 'Messi',
 'Ronaldo',
 'Ozil',
 'London',
 4,
 5,
 'Chelsea']

In [77]:
# Again doubling not permanent
print(o_list)

['Messi', 'Ronaldo', 'Ozil', 'London', 4, 5, 'Chelsea']

### Basic List Methods

If you are familiar with another programming language, you might start to draw parallels between arrays in another language and lists in Python. Lists in Python however, tend to be more flexible than arrays in other languages for a two good reasons: they have no fixed size (meaning we don't have to specify how big a list will be), and they have no fixed type constraint (like we've seen above).

Let's go ahead and explore some more special methods for lists:

In [78]:
# Create a new list
list1 = [1,2,3,4,5,6,7,8]

In [79]:
# Append to permanently add an item to the end of a list:
list1.append('1400')

In [80]:
# Show
list1

[1, 2, 3, 4, 5, 6, 7, 8, '1400']

Use **pop** to "pop off" an item from the list. By default pop takes off the last index, but you can also specify which index to pop off. Let's see an example:

In [81]:
# Pop off the 0 indexed item
list1.pop(4)

5

In [82]:
# Show - now 5 has been popped!
#default popped index is -1 
list1

[1, 2, 3, 4, 6, 7, 8, '1400']

In [83]:
# Assign the popped element, remember default popped index is -1
popped_item = list1.pop()

In [90]:
popped_item

'1400'

In [85]:
#We 'popped' 1400 from the list
list1

[1, 2, 3, 4, 6, 7, 8]

In [86]:
#Clearer Example 

list2 = [1, 2, 3, 4, 6, 7, 8, 'Welcome to the Oasis']

In [87]:
x_pop = list2.pop()

In [88]:
x_pop

'Welcome to the Oasis'

In [89]:
list2

[1, 2, 3, 4, 6, 7, 8]

We can use the **sort** method and the **reverse** methods to also effect your lists:

In [91]:
new_list = ['a','e','x','b','c']

In [92]:
#Show
new_list

['a', 'e', 'x', 'b', 'c']

In [93]:
# Use reverse to reverse order (this is permanent!)
new_list.reverse()

In [94]:
# a reversed list will show
new_list

['c', 'b', 'x', 'e', 'a']

In [95]:
# Use sort to sort the list (in this case alphabetical order, but for numbers it will go ascending)
new_list.sort()

In [96]:
new_list

['a', 'b', 'c', 'e', 'x']

### Nesting Lists
A great feature of of Python data structures is that they support *nesting*. This means we can have data structures within data structures. For example: A list inside a list.

Let's see how this works!

In [97]:
# Let's make three lists
lst_1=[1,2,3]
lst_2=[4,5,6]
lst_3=[7,8,9]

# Make a list of lists to form a matrix
matrix = [lst_1,lst_2,lst_3]

In [98]:
# Show
matrix

[[1, 2, 3], [4, 5, 6], [7, 8, 9]]

We can again use indexing to grab elements, but now there are two levels for the index. The items in the matrix object, and then the items inside that list!

In [99]:
# Grab first item in matrix object
matrix[0]

[1, 2, 3]

In [100]:
# Grab first item of the first item in the matrix object
matrix[0][0]

1

# DICTIONARIES

We've been learning about *sequences* in Python but now we're going to switch gears and learn about *mappings* in Python. If you're familiar with other languages you can think of these Dictionaries as hash tables. 

This section will serve as a brief introduction to dictionaries and consist of:

    1.) Constructing a Dictionary
    2.) Accessing objects from a dictionary
    3.) Basic Dictionary Methods

So what are mappings? Mappings are a collection of objects that are stored by a *key*, unlike a sequence that stored objects by their relative position. This is an important distinction, since mappings won't retain order since they have objects defined by a key.

A Python dictionary consists of a key and then an associated value. That value can be almost any Python object.


## Constructing a Dictionary
Let's see how we can construct dictionaries to get a better understanding of how they work!

In [101]:
# Make a dictionary with {} and : to signify a key and a value
my_dict = {'key1':'value1','key2':'value2'}

Its important to note that dictionaries are very flexible in the data types they can hold. For example:

In [113]:
my_dict2 = {'key1':123,'key2':[12,23,33],'key3':['item0','item1','item2']}

So that's the Sytanx, lets get into something more familiar

In [121]:
o_dict = {'Price' : '1400' ,'LV': 'Virgil Abloh', 'Yeezy': 'Kanye West', 'BBC':'Pharrell', 'Europe': ['France', 'Germany', 'Italy'], 'Premier League': 'Arsenal'}

In [120]:
# Let's call items from the dictionary
o_dict['Premier League']

'Arsenal'

In [123]:
o_dict['Price']

'1400'

In [103]:
o_dict['BBC']

'Pharrell'

In [117]:
# Can then even call methods on that value
o_dict['Europe'][0].upper()

'FRANCE'

In [118]:
o_dict['Yeezy'].upper()

'KANYE WEST'

In [106]:
# Let's call items from the dictionary
my_dict['key3']

['item0', 'item1', 'item2']

We can also create keys by assignment. For instance if we started off with an empty dictionary, we could continually add to it:

In [131]:
# Create a new dictionary
d = {}

In [132]:
# Create a new key through assignment
d['Car '] = 'Tesla'

In [133]:
# Can do this with any object
d['Sneaker'] = 'Air Force 1'

In [134]:
#Show
d

{'Car ': 'Tesla', 'Sneaker': 'Air Force 1'}

### A few Dictionary Methods

There are a few methods we can call on a dictionary. Let's get a quick introduction to a few of them:

In [135]:
# Create a typical dictionary
d = {'key1':1,'key2':2,'key3':3}

In [136]:
# Method to return a list of all keys 
d.keys()

dict_keys(['key1', 'key2', 'key3'])

In [139]:
# Method to grab all values
d.values()

dict_values([1, 2, 3])

In [140]:
# Method to return tuples of all items  (we'll learn about tuples soon)
d.items()

dict_items([('key1', 1), ('key2', 2), ('key3', 3)])

# TUPLES

In Python tuples are very similar to lists, however, unlike lists they are *immutable* meaning they can not be changed. You would use tuples to present things that shouldn't be changed, such as days of the week, or dates on a calendar. 

In this section, we will get a brief overview of the following:

    1.) Constructing Tuples
    2.) Basic Tuple Methods
    3.) Immutability
    4.) When to Use Tuples

You'll have an intuition of how to use tuples based on what you've learned about lists. We can treat them very similarly with the major distinction being that tuples are immutable.

## Constructing Tuples

The construction of a tuples use () with elements separated by commas. For example:

In [141]:
# Create a tuple
t = (1,2,3)

In [142]:
# Check len just like a list
len(t)

3

In [143]:
# Can also mix object types
t = ('one',2)

# Show
t

('one', 2)

In [144]:
# Use indexing just like we did in lists
t[0]

'one'

In [145]:
# Slicing just like a list
t[-1]

2

### Basic Tuple Methods

Tuples have built-in methods, but not as many as lists do. Let's look at two of them:

In [146]:
# Use .index to enter a value and return the index
t.index('one')

0

In [147]:
# Use .count to count the number of times a value appears
t.count('one')

1

### Immutability

It can't be stressed enough that tuples are immutable. To drive that point home:

In [148]:
t[0]= 'change'

TypeError: 'tuple' object does not support item assignment

### When to use Tuples

You may be wondering, "Why bother using tuples when they have fewer available methods?" To be honest, tuples are not used as often as lists in programming, but are used when immutability is necessary. If in your program you are passing around an object and need to make sure it does not get changed, then a tuple becomes your solution. It provides a convenient source of data integrity.

You should now be able to create and use tuples in your programming as well as have an understanding of their immutability.

Up next Sets and Booleans!!

# SETS AND BOOLEANS

There are two other object types in Python that we should quickly cover: Sets and Booleans. 

### Sets

Sets are an unordered collection of *unique* elements. We can construct them by using the set() function. Let's go ahead and make a set to see how it works

In [149]:
x = set()

In [154]:
# We add to sets with the add() method
#ONLY takes one argument
x.add(1)

In [155]:
x

{1}

Note the curly brackets. This does not indicate a dictionary! Although you can draw analogies as a set being a dictionary with only keys.

We know that a set has only unique entries. So what happens when we try to add something that is already in a set?

In [156]:
# Add a different element
x.add(2)

In [157]:
# Show 
x

{1, 2}

Notice how it won't place another 1 there. That's because a set is only concerned with unique elements! We can cast a list with multiple repeat elements to a set to get the unique elements. For example:

In [158]:
# Create a list with repeats
list1 = [1,1,2,2,3,4,5,6,1,1]

In [159]:
# Cast as set to get unique values
set(list1)

{1, 2, 3, 4, 5, 6}

## Booleans

Python  comes with Booleans (with predefined True and False displays that are basically just the integers 1 and 0). It also has a placeholder object called None. Let's walk through a few quick examples of Booleans (we will dive deeper into them later in this course).

In [160]:
# Set object to be a boolean
a = True

In [161]:
#Show
a

True

We can also use comparison operators to create booleans. We will go over all the comparison operators later on in the course.

In [162]:
# Output is boolean
1 > 2

False

# Great Job!